{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">LearnSummary.ru</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Search">
        </form>
        <a class="btn-login" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Войти
            <img src="/static/img/login.png" />
        </a>
    </div>
</nav>
<div class = "nav-left">
    <ul>
        <li><a href = "">Написать статью <img src="../static/img/write.png"/> </a></li>
        <li><a href = "">Свежие <img src = "../static/img/fire.png"/></a></li>
        <li><a href = "">Популярные <img src = "../static/img/best.png"/></a></li>
    </ul>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% block paper%}
<div class="paper-wrap">
    <div class="paper">
        <div class = "paper-header-wrap">
            <ul>
                <li ><a class="paper-category" href="">Категория</a></li>
                <li><a class = "paper-subject" href="">Тема</a></li>
                <li>Дата/время</li>
            </ul>
        </div>
        <div class = "paper-body">


Её нельзя будет распространять, в том числе и через СМИ.

Комитет Госдумы одобрил поправку к законопроекту о концессионных соглашениях, которая вводит в него понятие «контрсанкционной информации», пишет «Интерфакс». Проект уже прошёл первое чтение.
Под «контрсанкционной информацией» подразумеваются любые сведения о сделках, которые планируют провести физлица и юрлица — участники внешнеэкономической деятельности (ВЭД) — и распространение которых может привести к санкциям против них.
Распространять такую информацию запретят неопределённому кругу лиц, в том числе через СМИ и интернет. Делать это можно только с письменного разрешения обладателя этой информации — то есть участника сделки. Это не касается органов государственной власти, председателя ЦБ и его заместителей.
Ограничение на распространение снимаются, если информацию озвучит её обладатель, либо сообщит о снятии ограничений, а также, если её сообщит председатель ЦБ и его заместители.
Если порядок распространения «контрсанкционной информации» нарушен, участник сделки может потребовать возмещение убытков. Также за разглашение информации без разрешения предусмотрена такая же ответственность, как и за разглашение информации с ограниченным доступом.
Такие нарушения влекут за собой административный штраф для граждан в размере от 5 тысяч до 10 тысяч рублей. Для должностных лиц — от 40 тысяч до 50 тысяч рублей или дисквалификацию на срок до трёх лет. Для юрлиц — от 100 тысяч до 200 тысяч рублей.

        </div>
        <div class="paper-info">
            <ul>
                <li><a href=""><img src="../static/img/shows.png" />123</a></li>
                <li><a href=""><img src="../static/img/comments.png" />500</a></li>
                <li><a href=""><img src="../static/img/like.png" />500</a></li>
            </ul>
        </div>
        <div class="paper-comments">
            <div class = "paper-comments-header">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endblock %}